.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: white;

    background: rgb(34,179,85);
background: linear-gradient(273deg, rgba(34,179,85,1) 24%, rgba(0,112,255,1) 63%);
}

.sakıp{
    font-size: 50px;
    color: rgba(34,179,85,1);
    margin-left: 50px;
}